<div class="min-h-screen flex flex-col">
  <!-- Landing Header Component -->
  <app-landing-header></app-landing-header>
  <!-- Landing Hero Component  -->
  <app-landing-hero></app-landing-hero>
  <!-- Landing Events Component -->
  <app-landing-events></app-landing-events>
  <!-- Landing Upcoming Events Component -->
  <app-landing-upcoming-events></app-landing-upcoming-events>
  <!-- Landing About Us Component -->
  <app-landing-about-us></app-landing-about-us>
  <!-- Landing Roadmap Component - Displayed AFTER About Us Section -->
  <app-landing-roadmap></app-landing-roadmap>
  <!-- Landing Footer Component -->
  <app-landing-footer></app-landing-footer>
</div>